* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Kontener na przyciski i licznik slajdów */
.controls-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Ciemne tło */
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
}

/* Przycisk "Poprzedni" */
.prev-button, .next-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.prev-button:hover, .next-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.slide-counter {
  font-size: 1.2rem;
  padding: 0 15px;
}

/* Media Queries dla mniejszych ekranów */
@media (max-width: 768px) {
  .prev-button, .next-button {
    font-size: 1.2rem;
    padding: 8px;
  }

  .slide-counter {
    font-size: 1rem;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .prev-button, .next-button {
    font-size: 1rem;
    padding: 6px;
  }

  .slide-counter {
    font-size: 0.9rem;
    padding: 0 8px;
  }
}
